@tailwind base;
@tailwind components;
@tailwind utilities;

$width  : 400px;
$height : 250px;
$primary_color : rgb(59,54,70);
$primary_fontFamily: "courier";
$border_color--hover : lighten($primary_color, 80);
$stroke : 2px;
$border: $stroke solid darken($primary_color,10);

body {
  margin: 0;
  padding: 0;
background: rgb(62,75,140);
background: radial-gradient(circle, rgba(62,75,140,1) 0%, rgba(23,29,75,1) 26%);
	animation: gradient 3s ease infinite;

  background-repeat: no-repeat;
}

@keyframes gradient {
	0% {
background: radial-gradient(circle, rgb(91, 105, 175) 0%, rgba(23,29,75,1) 12%);
	}
  	10% {
background: radial-gradient(circle, rgb(108, 122, 189) 0%, rgba(23,29,75,1) 26%);
	}
  	20% {
background: radial-gradient(circle, rgb(118, 132, 204) 0%, rgba(23,29,75,1) 33%);
	}
  	30% {
background: radial-gradient(circle, rgb(140, 153, 221) 0%, rgba(23,29,75,1) 42%);
	}
  	40% {
background: radial-gradient(circle, rgb(146, 158, 221) 0%, rgba(23,29,75,1) 55%);
	}
  	
	50% {
background: radial-gradient(circle, rgb(130, 143, 207) 0%, rgba(23,29,75,1) 42%);
	}
  60% {
background: radial-gradient(circle, rgb(91, 105, 175) 0%, rgba(23,29,75,1) 33%);
	}
  70% {
background: radial-gradient(circle, rgb(91, 105, 175) 0%, rgba(23,29,75,1) 26%);
	}
  80% {
background: radial-gradient(circle, rgb(91, 105, 175) 0%, rgba(23,29,75,1) 12%);
	}
  90% {
background: radial-gradient(circle, rgb(91, 105, 175) 0%, rgba(23,29,75,1) 5%);
	}
	100% {
background: radial-gradient(circle, rgb(150, 162, 221) 0%, rgba(23,29,75,1) 15%);
	}
}



main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav {
  position: absolute;
  right: 0;
  font-size: "8pt";
  font-family: $primary_fontFamily;
  z-index: 999;
  border-top:1px solid black;
}

.cardHolder {
  position: absolute;
  top: 0;
  width: 70vw;
  height: auto;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  
   box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);

}

.homeCard {
  margin:auto;
  object-fit: "cover";
  transform-origin: "top";
  
}

.borderDiv {
  height: auto;
  width:93%;
  margin:auto;
  margin-bottom: 3vh;
  border-top: 11px solid black;
}


.jumboWrapper {
  border-left: 7px solid rgb(0, 0, 0);
  border-right: 7px solid rgb(0, 0, 0);
}

.jumboText:hover {
  color: white
}

// @function border-pipeline ($transition_duration, $pipe) {
//     @return $transition_duration*$pipe;
// }

// @mixin border-animation($dimension, $easing ,$pipe ) 
// {
//     transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
//     -web-kit-transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
// }

// .imagesHover:hover {
  //   transition: all 35s;
  //   border-left: 0.5px solid white;
  //   border-right: 0.5px solid white;
  // }