@tailwind base;
@tailwind components;
@tailwind utilities;

$width  : 400px;
$height : 250px;
$primary_color : #3084AC;
$border_color--hover : lighten($primary_color, 80);
$stroke : 2px;
$border: $stroke solid darken($primary_color,10);
$transition_duration:100ms;
$pipeline_width: $width+$stroke;
$pipeline_height: $height+$stroke;
$pipes : 4;

@function border-pipeline ($transition_duration, $pipe) {
    @return $transition_duration*$pipe;
}

@mixin border-animation($dimension, $easing ,$pipe ) 
{
    transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
    -web-kit-transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
}
body {margin:0;padding:0; background:black;}

.box {
    width: $width ;
    height: $height ;
    background: $primary_color;
    margin: auto;
    border:$border;
    text-align: center;
    color: #fff; 
    position:relative;
    top: 50px;
    cursor: pointer;
    transition: ($transition_duration*$pipes)+$transition_duration ease;
    &:before {
        position: absolute; 
        width: 0; 
        height:$stroke; 
        content: ''; 
        background: #fff;
        top:-$stroke; 
        left:-$stroke; 
        @include border-animation( width, ease, 3);
    }
    &:after {
        position: absolute; 
        width:$stroke; 
        height:0;
        content: ''; 
        background: #fff; 
        top:-$stroke; 
        right: -$stroke; 
        @include border-animation( height, ease, 2);
    }
    &-inner:after{
        position: absolute; 
        width: 0; 
        height:$stroke; 
        content: ''; 
        background: #fff; 
        bottom:-$stroke; 
        right: -$stroke;
        @include border-animation( width, ease, 1);
    }
    &-inner:before {
        position: absolute; 
        width: $stroke; 
        height:0;content: ''; 
        background: #fff; 
        bottom:-$stroke; 
        left: -$stroke; 
        @include border-animation( height, ease, 0); 
    }
    &:hover{
        border-color:transparent;
        background:darken($primary_color,30);
        &:before{
            width: $pipeline_width; 
            @include border-animation( width, ease, 0); 
        }
        &:after {
            height:$pipeline_height; 
            @include border-animation( height, ease, 1); 
        }
        .box-inner:after {
            width: $pipeline_width; 
            @include border-animation( width, ease, 2);
        }
        .box-inner:before {
            height:$pipeline_height; 
            @include border-animation( height, ease, 3);
        }
    }
}







body {
  margin: 0;
  padding: 0;
  background-color: rgb(51, 49, 88);
}

main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav {
  position: absolute;
  right: 0;
  font-size: "8pt";
  font-family: "courier";
  z-index: 999;
}

.imageCard {
    margin:auto;
    border: 3px solid white;
    object-fit: "cover";
    transform-origin: "top";
}

.imagesHover {
  padding: 5vh 3vh 5vh 3vh;
height: auto;
width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 11px solid black;
}

.imagesHover:hover {
  transition: all 35s;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}

.jumboWrapper {
  border-left: 7px solid rgb(0, 0, 0);
  border-right: 7px solid rgb(0, 0, 0);
}

.jumboText:hover {
  color: white
}

.cardHolder {
  position: absolute;
  top: 0;
  width: 70vw;
  height: auto;
}