@tailwind base;
@tailwind components;
@tailwind utilities;

$width  : 400px;
$height : 250px;
$primary_color : rgb(59,54,70);
$primary_fontFamily: "courier";
$border_color--hover : lighten($primary_color, 80);
$stroke : 2px;
$border: $stroke solid darken($primary_color,10);

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
    background: linear-gradient(215deg, #414fc1, #266c74, #000000, #000000);
    background-size: 800% 800%;

    -webkit-animation: backgroundAni 15s ease infinite;
    -moz-animation: backgroundAni 15s ease infinite;
    animation: backgroundAni 15s ease infinite;
}

@-webkit-keyframes backgroundAni {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-moz-keyframes backgroundAni {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@keyframes backgroundAni {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}

.homeLogo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 21%;
  left: 21%;
    animation: homeLogoAni 33s ease infinite;

}

@keyframes homeLogoAni {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(5deg)}
  50% {transform: rotate(0deg)}
  75% {transform: rotate(-5deg)}
  100% {transform: rotate(0deg)}
}
.srbMinistar {
  max-width: 50px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 1%;
  left: 1%;
}

main {
  overflow: hidden;
}

nav {
  position: absolute;
  right: 0;
  font-size: "8pt";
  font-family: $primary_fontFamily;
  z-index: 999;
  border-top:3px solid white;
  animation: navAni 15s ease infinite;
}

@keyframes navAni{
  0%{border-top:3px solid red;}
  50%{border-top:3px solid white;}
  100%{border-top:3px solid black;}
}

.cardHolder {
  position: absolute;
  top: 0;
  width: 70vw;
  height: auto;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
  
   box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);

}

.homeCard {
  margin:auto;
  object-fit: "cover";
  transform-origin: "top";
  
}

.borderDiv {
  height: auto;
  width:93%;
  margin:auto;
  margin-bottom: 3vh;
  border-top: 11px solid black;
}


.jumboWrapper {
  border-left: 7px solid rgb(0, 0, 0);
  border-right: 7px solid rgb(0, 0, 0);
}

.jumboText:hover {
  color: white
}

// @function border-pipeline ($transition_duration, $pipe) {
//     @return $transition_duration*$pipe;
// }

// @mixin border-animation($dimension, $easing ,$pipe ) 
// {
//     transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
//     -web-kit-transition: $transition_duration  $dimension $easing border-pipeline($transition_duration,$pipe);
// }

// .imagesHover:hover {
  //   transition: all 35s;
  //   border-left: 0.5px solid white;
  //   border-right: 0.5px solid white;
  // }